<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
        </h5>
        <p class="card-text">
            {{ property.description | nl2br }}
        </p>
        <p class="card-text">
            Surface: {{ property.surface }} m<sup>2</sup>
        </p>
        <p class="card-text">
            Ville: {{ property.city }}
        </p>
        <p class="card-text">
            Code Postal: ({{ property.postalCode }})
        </p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem">
            {{ property.formatedPrice}}
            CFA
        </div>
    </div>
</div>